.wrapper img{
    width: 175px;
}

.wrapper{
    margin: auto;
    text-align: center;
}

.d{
    font-size: 20px;
    display: inline-block;
}

.wrapper img:hover{
    border: 2px solid yellow; 
    cursor: pointer;   
}


@media (min-width: 480px) {
    .wrapper {
        background: rgb(228, 173, 173);
        width: 480px;
    }
    .d{
        width: 300px;
        display: inline-block;
    }
}
@media (min-width: 768px) {
    .wrapper {
        background: rgb(228, 173, 173);
        width: 768px;
    }
    .d{
        width: 300px;
        display: inline-block;
    }
}
@media (min-width: 1280px) {
    .wrapper {
        background: rgb(228, 173, 173);
        width: 1280px;
    }
    .d{
        width: 300px;
        display: inline-block;
    }
}